{% extends "applications/base.html" %}

{% block title %}Job Applications{% endblock %}

{% block content %}
    <h2>Job Applications</h2>
    <p>DEBUG: This template is rendering.</p>
    <table border="1">
        <tr>
            <th>Position</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td> {{ job.position }}</td>
            <td> {{ job.company }}</td>
            <td> {{ job.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}